<!DOCTYPE html>  <!-- статическая таблица (без изменений по ходу программы) -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/contacts">Контакты</a>
        </li>
        <li>
            <a href="/forma">Новости</a>
        </li>
    </ul>
    <h1>Программа "ПАРСЕР"</h1>
    <hr>
    <p>
        Простая программа, позволяющая оперативно получать Новости с сайта: "Python Digest" <br><br>
        1.Перейдите на страницу "Новости" и щелкните по кнопке "Выполнить". <br>
        2.Ознакомьтесь с оперативными новостями, полученными с сайта.
     </p>
</body>
</html>